aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
dataclasses-json
debugpy
decorator
defusedxml
distro
duckdb
entrypoints
executing
fastjsonschema
filelock
frozenlist
fsspec
gitdb
GitPython
groq
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
install
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
langchain
langchain-community
langchain-core
langchain-groq
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mpmath
multidict
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openai
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pinecone-client
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rich
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
streamlit
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzlocal
urllib3
validators
wcwidth
webencodings
websocket-client
widgetsnbextension
yarl
zipp
